LeadMachine - Error Log Addon
{
  "meta": {
    "instanceId": "de9483a760ca370949877532d71559046597a9378fbd31e6a68fd205b2f1f37d"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "220a6b81-e875-4061-9eed-74f376469239",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        760,
        440
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA",
          "mode": "list",
          "cachedResultName": "LeadMachine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1959914128,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA/edit#gid=1959914128"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "time": "={{ $now.format(\"HH:mm:ss\") }}",
            "date": "={{ $now.format(\"DD\") }}",
            "task_name": "={{ $json.workflow.name }}",
            "message": "={{ $json.execution.error.message }}",
            "outcome": "ERROR",
            "lastNodeExecuted": "={{ $json.execution.lastNodeExecuted }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "api_one_results",
              "displayName": "api_one_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "api_two_results",
              "displayName": "api_two_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outcome",
              "displayName": "outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastNodeExecuted",
              "displayName": "lastNodeExecuted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "3b094229-f268-4610-8efc-9542aa3501a6",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        1320,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pS6RAGBfPrCenBNM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "time",
              "stringValue": "={{ $now.format(\"HH:mm:ss\") }}"
            },
            {
              "name": "date",
              "stringValue": "={{ $now.format(\"DD\") }}"
            },
            {
              "name": "ip_address",
              "stringValue": "-"
            },
            {
              "name": "user_os",
              "stringValue": "-"
            },
            {
              "name": "task_name",
              "stringValue": "Error Node Triggered"
            },
            {
              "name": "outcome",
              "stringValue": "ERROR"
            },
            {
              "name": "message",
              "stringValue": "=Workflow: {{ $json.workflow.name }} / Workflow ID: {{ $json.workflow.id }} / Node With Error: {{ $json.execution.lastNodeExecuted }} / Message: {{ $json.execution.error.message }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "1455f1c9-ec80-4f8f-95c9-d9d04e1eebd4",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1040,
        440
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
