LeadMachine - Phone Verification Addon
{
  "meta": {
    "instanceId": "de9483a760ca370949877532d71559046597a9378fbd31e6a68fd205b2f1f37d"
  },
  "nodes": [
    {
      "parameters": {
        "path": "phone_verify",
        "options": {}
      },
      "id": "d3abc5cc-7b0a-42c1-b260-6471b9313f1f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        400
      ],
      "webhookId": "879573e2-a92e-4d2b-99ba-b7de2c0d8527"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA",
          "mode": "list",
          "cachedResultName": "LeadMachine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 894085312,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA/edit#gid=894085312"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "business_id",
              "lookupValue": "={{ $json.query.business_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "06c0e285-3d55-4c5b-81a4-5a6400499b70",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        -200,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pS6RAGBfPrCenBNM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.clearoutphone.io/v1/phonenumber/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer:{{ $('Webhook').item.json.query.clearoutapi }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=+{{ $json.business_phone }}"
            },
            {
              "name": "country_code",
              "value": "US"
            }
          ]
        },
        "options": {}
      },
      "id": "6e79b25b-67ba-4c95-94a2-2cfde454a48a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA",
          "mode": "list",
          "cachedResultName": "LeadMachine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 894085312,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA/edit#gid=894085312"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "business_id": "={{ $json.business_id }}",
            "phone_type": "={{ $json.phone_type }}"
          },
          "matchingColumns": [
            "business_id"
          ],
          "schema": [
            {
              "id": "business_id",
              "displayName": "business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "business_phone",
              "displayName": "business_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "verify_phone",
              "displayName": "verify_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone_type",
              "displayName": "phone_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_business",
              "displayName": "call_business",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_first",
              "displayName": "owner_first",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_last",
              "displayName": "owner_last",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "search_owner",
              "displayName": "search_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_email",
              "displayName": "owner_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "verify_email",
              "displayName": "verify_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_verified",
              "displayName": "email_verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "google_rating",
              "displayName": "google_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "review_count",
              "displayName": "review_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "send_ghl",
              "displayName": "send_ghl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sent_to_ghl",
              "displayName": "sent_to_ghl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "actions_taken",
              "displayName": "actions_taken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facebook_url",
              "displayName": "facebook_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facebook_id",
              "displayName": "facebook_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "facebook_email",
              "displayName": "facebook_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instagram_url",
              "displayName": "instagram_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "street_address",
              "displayName": "street_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "zip_code",
              "displayName": "zip_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "one_star",
              "displayName": "one_star",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "two_star",
              "displayName": "two_star",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "three_star",
              "displayName": "three_star",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "four_star",
              "displayName": "four_star",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "five_star",
              "displayName": "five_star",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "61c64ddb-20c9-47d9-9401-7d743b01c474",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        640,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pS6RAGBfPrCenBNM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA",
          "mode": "list",
          "cachedResultName": "LeadMachine",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1959914128,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NSgHwtBedt8SUTVUSSB1zOxPsXLlydGbdV3vu9BR9XA/edit#gid=1959914128"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "time": "={{ $now.format(\"HH:mm:ss\") }}",
            "date": "={{ $now.format(\"DD\") }}",
            "task_name": "Phone Verification",
            "outcome": "={{ $('HTTP Request').item.json.status }}",
            "message": "=Phone Number {{ $('HTTP Request').item.json.data.e164_format }} for {{ $('Google Sheets').item.json.owner_first }} {{ $('Google Sheets').item.json.owner_last }} of {{ $('Google Sheets').item.json.business_name }} is a {{ $('HTTP Request').item.json.data.status }} {{ $('HTTP Request').item.json.data.line_type }} number."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "api_one_results",
              "displayName": "api_one_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "api_two_results",
              "displayName": "api_two_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "outcome",
              "displayName": "outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastNodeExecuted",
              "displayName": "lastNodeExecuted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "28eb5b79-ca73-40f1-99b4-945cc614b037",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        1180,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pS6RAGBfPrCenBNM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Catch Webhook \n**Catches webhook when 'Verify Phone' is clicked**",
        "height": 262,
        "width": 260
      },
      "id": "039ac65c-313c-4d48-9c6c-f1c3e9205b57",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Get Lead Data \n**Pulls lead data matching on business_id**",
        "height": 262,
        "width": 260
      },
      "id": "5f6f282f-0e3a-406f-b21b-fc4809b30a7e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Call ClearOut API \n**Verifies the phone number**",
        "height": 262,
        "width": 260
      },
      "id": "c2fa20f3-25c2-4044-904a-0f48648b404a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Update Lead \n**Updates lead data in Google Sheets**",
        "height": 262,
        "width": 260
      },
      "id": "1f60506b-27ca-49a3-b732-e85f5ea27841",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Update Logs \n**Updates logs and records verifications results**",
        "height": 262,
        "width": 222
      },
      "id": "9c6bb531-aad8-4c85-a30f-819608505316",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "business_id",
              "stringValue": "={{ $('Google Sheets').item.json.business_id }}"
            },
            {
              "name": "phone_type",
              "stringValue": "={{ $json.data.line_type }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "ae081fe0-235a-4603-820d-6e86bdaf598c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        360,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Set Headers\n**Updates lead data in Google Sheets**",
        "height": 262,
        "width": 260
      },
      "id": "74dcc51e-7f5c-4770-b477-1d7a1c698350",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "time",
              "stringValue": "={{ $now.format(\"HH:mm:ss\") }}"
            },
            {
              "name": "date",
              "stringValue": "={{ $now.format(\"DD\") }}"
            },
            {
              "name": "ip_address",
              "stringValue": "={{ $('Webhook').item.json.headers['x-real-ip'] }}"
            },
            {
              "name": "user_os",
              "stringValue": "={{ $('Webhook').item.json.headers['sec-ch-ua-platform'] }}"
            },
            {
              "name": "task_name",
              "stringValue": "Phone Verification"
            },
            {
              "name": "outcome",
              "stringValue": "={{ $('HTTP Request').item.json.status }}"
            },
            {
              "name": "message",
              "stringValue": "=Phone: {{ $('HTTP Request').item.json.data.e164_format }} / Type: {{ $('HTTP Request').item.json.data.line_type }} / Status: {{ $('HTTP Request').item.json.data.status }} / Carrier: {{ $('HTTP Request').item.json.data.carrier }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "0153ab00-a8ce-4a5b-acf4-e4e45fa3e774",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        920,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Set Headers\n**Updates lead data in Google Sheets**",
        "height": 262,
        "width": 260
      },
      "id": "92e12498-cf4c-42e1-9dfa-352426c9eafd",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n.makesimple.click",
          "x-forwarded-scheme": "https",
          "x-forwarded-proto": "https",
          "x-forwarded-for": "135.134.155.175",
          "x-real-ip": "135.134.155.175",
          "sec-ch-ua": "\"Google Chrome\";v=\"119\", \"Chromium\";v=\"119\", \"Not?A_Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "upgrade-insecure-requests": "1",
          "dnt": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "sec-fetch-site": "cross-site",
          "sec-fetch-mode": "navigate",
          "sec-fetch-dest": "document",
          "referer": "https://www.google.com/",
          "accept-encoding": "gzip, deflate, br",
          "accept-language": "en-US,en;q=0.9",
          "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19ISHhmyB1fjcBLTdNXQMGbCQTvbtogNW4%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BnrVXmWLibQ%2BY82CxsMsm4Hx89M6GXdMQ%3D; _ga=GA1.1.105256380.1696397091; _ga_1X0XQRMB4F=GS1.1.1699080729.46.1.1699080788.0.0.0; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjJiZjA4NzY3LTM2ZDctNDE0My04M2MwLTJmN2ViNTAxOTc5ZCIsImVtYWlsIjoiamVkaGFubGluQGdtYWlsLmNvbSIsInBhc3N3b3JkIjoiZTk5ZGE2Zjg4ZmYzOTA3NzRlNzExMTM0ZjhhZDQ2Mzc0NDlmMzFjY2YyNGI2MmIyZGU5Yzc3M2NkZGJiMGUwOSIsImlhdCI6MTcwMjM2NDM5NSwiZXhwIjoxNzAyOTY5MTk1fQ.KMNRqubDXnLdpg1S6PitND9OUC9V3Mar0VwTE6YlnOs; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19ggx08VP8aju5XLTWUMzyMKP3xWDNOoVm%2BfdxJkaK0XuxOVn3ABb2Z6BJnkrB223N5uuLpVvEvoA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX189z%2F59bkmk4uWuHUsehp%2FXQLQecIAfpF6H7EJDMw08gNjIpNiwSNgBtxdK2bKZda2I0qLrsgX61AJmSN6LNBzqEMYJzpaUWlBCsOoigpAqep0o6Al5Hfs3oA4TsFKsGeXr9jguUyc13EVBkIxSCc9qkF4APVlLadQ%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19ra6FPODSUxImvsG5iddqdGlsaxesITFfPOaoQBNAAbp2r29icDfvmPf9MKMPSWDEq4K1d%2FBuPYC%2F0DQnK6GdKBKEY6RXL%2F3urlQ%2BHQkqmdQcZQIGpuJdflMx0WiGGVKOCaEIs16Qktg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22de9483a760ca370949877532d71559046597a9378fbd31e6a68fd205b2f1f37d%232bf08767-36d7-4143-83c0-2f7eb501979d%22%2C%22%24sesid%22%3A%5B1702435412227%2C%22018c610e-d903-7abf-bd4f-8e267deb08fe%22%2C1702435412227%5D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19wgU4XtUHbvnq9LILjdmEnZMom3dVRpbxQsUwJ%2F6U3OfA5Lqff9bBwn5RC6jGzpu%2Fk%2BXHt4VKkQDKMoH8eiRrz9wGKRJ%2Be6FOEnzlckXI%2B8CEGeUWbeDet8DTgAFYgsXmFX06Ni9UFnQ%3D%3D"
        },
        "params": {},
        "query": {
          "business_id": "0x8085879e7732c1e7:0x13147be3501f03f8",
          "clearoutapi": "9bf6122e99e8ecea2fa8333e409e5de9:5660164b3902c1bb99df6bfa666c022210da4ac52a751ef92b190fb606f952db"
        }
      }
    ]
  }
}
